<! DOCTYPE HTML>
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <title>
            {% block title %} Gestion de FCT {% endblock %}
        </title>
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <div class="container" style="background-color:#5eb5e0">
                <div class="row" align="center" style="background-color:#08C">
                    <div class="col-md-12">
                        <h2> DAW.ES #FTC </h2>
                    </div>
                </div>
            </div>
            
            <div class="container" style="background-color:#5eb5e0">
                <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
                    <a class="navbar-brand" href="#">Inicio</a>
                        {% if app.user != null%}
                            <b> Bienvenido, {{app.user.rol}}; {{app.user.nombre}} {{app.user.ape1}} {{app.user.ape2}}</b>
                        {% endif%}
                        
                        <ul class="navbar-nav navbar-right">
                            {% if app.user == null%}
                                <li class="nav-item active"><a class="nav-link" href="{{path("login")}}">
                                        <span class="glyphicon glyphicon-user"></span> Entrar </a>
                                </li>    
                            {% else %}
                                <li class="nav-item active"><a class="nav-link" href="{{path("logout")}}">
                                        <span class="glyphicon glyphicon-user"></span> Salir</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>

        </header>
        <section id="content">
            <div class="container">
                {% block content %} Gestion de FCT {% endblock %}
            </div>
        </section>
        <footer>
            {% block footer %}
            <div class="container" style="background-color:#08C">
                <div class="row" align="center">
                    <div class="col-md-12">
                        <h4> Felipe Ruz Pérez - 2ºDAW &copy 2018 </h4>
                    </div>
                </div>
            </div>  
            {% endblock %}
        </footer>
    </body>
</html>
